<!-- backend/views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <h1>Blog Posts</h1>
      <a class="button" href="/create">Create New Post</a>
    </header>
    <main>
      <ul class="card-list">
        <% posts.forEach(post => { %>
        <li class="card">
          <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
          <p><%= post.content.substring(0, 100) %>...</p>
          <div class="button-group">
            <a class="button" href="/post/<%= post.id %>">View</a>
            <a class="button" href="/edit/<%= post.id %>">Edit</a>
            <form
              action="/delete/<%= post.id %>"
              method="POST"
              style="display: inline"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
          <!-- <form
            action="/edit/<%= post.id %>"
            method="get"
            style="display: inline"
          >
            <button type="submit">Edit</button>
          </form> -->
          <!-- <form
            action="/delete/<%= post.id %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form> -->
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
